@charset "UTF-8";
body{
    background-color: #f0f0f0;

    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    width: fit-content;
    background-color: white;
    border-radius: 3%;
    padding: 10px;
    margin-top: 200px;
}
#display{
    width: 270px;
    height: 70px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    border: none;
    border-radius: 3%;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}
#history{
    font-size: 15px;
    text-align: left;
}
#result-display{
    font-size: 30px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
}
button{
    width: 60px;
    height: 50px;
    border-radius: 3%;
    border: none;
    margin: 2px;
    font-size: 25px;
    border-radius: 10%;
}
.operator{
    background-color: orange;
    color: white;
}
#equal{
    width: 270px;
    height: 50px;
    background-color: #00FF7F;
    color: white;
    margin-top: 5px;
    border-radius: 5%;
}